<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <title>MKOSHA</title>
</head>
<body>
<section>
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12 col-lg-6 col-md-4">
                <img style="object-fit: contain; height: 100%; width: 100%;"
                     src="https://media-exp1.licdn.com/dms/image/C4E03AQGOyxAKIR2oGA/profile-displayphoto-shrink_800_800/0/1660815919924?e=1666828800&v=beta&t=ls-Q8LH2ojgSjq6fqL_DyTQSgvXUucmUOdfm6ioCHLM"/>
            </div>
            <div class="col-12 col-lg-6 col-md-8 d-flex align-items-center">
                <div>
                    <h1 class="fw-light">Hello! Let's get acquainted</h1>
                    <p class="lead text-muted">My name is Mariia. I'm a young pastry chef from Kharkiv, Ukraine.
                        I'm 19 and about 6 years ago I found myself in pastry art.
                        I am inspired by my loved ones and my desire to improve.
                        My work was originally just a fun way for me to relax after emotionally difficult days and I
                        just wanted to surprise my loved ones, but now it is something in which I put all of myself and
                        with great pleasure please other people.
                        On this site, you can see only my work and, of course, order "a piece of happiness with love"
                        for yourself or your relatives.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>